.header__bookBox {
  height: 100px;
  background-color: crimson;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}
.books__list{
  margin: 10px;
  background-color: crimson;
  color: white;
  padding: 10px;
  width: 250px;
  border-radius: 10px;
}
form{
  text-align: center;
  line-height: 2.3rem;
}
.book__box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.description__book {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
}
.book__btn {
  padding: 5px 10px;
  margin-top: 10px;
}
